<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFVjTGxnba7eb8bQK9r3QA3Jh4g2E39cY</string>
	<key>GCM_SENDER_ID</key>
	<string>341188907109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsMeetApp</string>
	<key>PROJECT_ID</key>
	<string>letsmeet-1a26d</string>
	<key>STORAGE_BUCKET</key>
	<string>letsmeet-1a26d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341188907109:ios:ebd10e49b26417ea1b768c</string>
</dict>
</plist>